# INTRODUCTION

The goal of this project is to use aircraft safety data analysis to determine which planes are among the most secure options for a company's new aviation business. We can learn more about safety trends by examining a variety of factors, such as the make, model, and associated fatality data of the aircraft. Descriptive statistics and visualisations are used in this technique to find trends in accident data, which helps buyers of aircraft make informed choices. Prioritising safety and risk assessment, our actionable recommendations centre on data standardisation, outlier identification, and correlation analysis among various variables.

# 1.Business Understanding.

The company is looking to expand into the aviation industry because of the need to diversify the company's portfolio. The aim is to determine which aircraft presents the lowest risk and provide insights for informed purchasing decisions.

# 2.Data Understanding.

The data folder provided is from the National Transportation Safety Board which contains information on civil aviation accidents and selected incidents, from 1962 - 2023. The data also includes incidents from both the United States(US) and international waters. From the two datasets provided, the better option was AviationData.csv because compared to USState_Codes.csv the first one has more data quality compared to the latter which only contains two columns. As seen below through the df.info( ) function, the AviationData.csv contains 88,889 rows and 31 columns showing the column names, number of non-null values in each column and data type of each column. Given that several columns like latitude and longitude have missing values, it indicates the need of handling missing data during data cleaning.

In [ ]:
import pandas as pd

df = pd.read_csv("C:/Users/USER/Documents/aviationdataset/AviationData_Updated.csv", encoding='ISO-8859-1')

df.head ()

C:\Users\USER\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [ ]:
df.tail()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

# 3. Data preparation

In this section, there is preparation of the dataset for analysis by cleaning and organizing. This includes handling missing values, converting datatypes, filtering irrelevant columns and handling mixed data types thus making the data more accurate.

# Filter Data by Time Period or Condition

Understanding aviation incidents after 2000 is crucial for selecting low-risk aircraft for a new division. Examining current incidents helps identify common factors leading to mishaps and assesses the long-term performance of different aircraft models. This knowledge guides decision-making to select aircraft with minimal risk, meeting operational requirements, and a strong safety record.

In [ ]:
if 'Event.Date' in df.columns:
    df['Event.Date'] = pd.to_datetime(df['Event.Date'], errors='coerce')  
    recent_df = df[df['Event.Date'] >= '2000-01-01']

    print("\nFiltered Data from 2000 to 2023:")
    print(recent_df.head())  # Display the first few rows of the filtered data

Filtered Data from 2000 to 2023:
             Event.Id Investigation.Type Accident.Number Event.Date  \
47675  20001212X20407           Accident      MIA00LA063 2000-01-01
47676  20001212X20327           Accident      ATL00FA019 2000-01-01
47677  20001212X20383           Accident      LAX00LA063 2000-01-02
47678  20001212X20382           Accident      LAX00LA062 2000-01-02
47679  20001212X20364           Accident      FTW00LA067 2000-01-02

              Location        Country Latitude Longitude Airport.Code  \
47675    HOMESTEAD, FL  United States      NaN       NaN          NaN
47676    MONTEAGLE, TN  United States      NaN       NaN          NaN
47677  VICTORVILLE, CA  United States      NaN       NaN          NaN
47678    DOS PALOS, CA  United States      NaN       NaN          NaN
47679      CORNING, AR  United States      NaN       NaN          NaN

      Airport.Name  ... Purpose.of.flight Air.carrier Total.Fatal.Injuries  \
47675          NaN  ...       Positioning         NaN                  0.0
47676          NaN  ...          Personal         NaN                  2.0
47677          NaN  ...          Personal         NaN                  0.0
47678          NaN  ...     Instructional         NaN                  0.0
47679          NaN  ...          Personal         NaN                  0.0

      Total.Serious.Injuries Total.Minor.Injuries Total.Uninjured  \
47675                    0.0                  0.0             3.0
47676                    0.0                  0.0             0.0
47677                    0.0                  0.0             2.0
47678                    0.0                  1.0             0.0
47679                    0.0                  0.0             5.0

      Weather.Condition  Broad.phase.of.flight   Report.Status  \
47675               VMC                 Cruise  Probable Cause
47676               IMC                 Cruise  Probable Cause
47677               VMC                 Cruise  Probable Cause
47678               VMC                 Cruise  Probable Cause
47679               VMC                 Cruise  Probable Cause

      Publication.Date
47675       29-11-2000
47676       19-04-2001
47677       04-12-2000
47678       14-12-2001
47679       02-03-2001

[5 rows x 31 columns]

# Exploring Relevant Columns

This investigation looks at the connection between the kind of aircraft and fatal injuries, highlighting certain manufacturers such as Piper, Stinson, and Cessna. According to the data, 71,076 occurrences resulted in no fatalities, while a lesser number had one to four fatalities. This data is essential for evaluating safety performance and comprehending the hazards connected to particular manufacturers. By focussing on models with higher safety records, decisions on aircraft acquisitions can be informed by an analysis of this relationship.

In [ ]:
if 'Make' in df.columns:
    unique_causes = df['Make'].unique()
    print("Available Makes:")
    print(unique_causes)

if 'Total.Fatal.Injuries' in df.columns:
    aircraft_counts = df['Total.Fatal.Injuries'].value_counts()
    print("\nTotal.Fatal.Injuries:")
    print(aircraft_counts)

Available Makes:
['Stinson' 'Piper' 'Cessna' ... 'JAMES R DERNOVSEK' 'ORLICAN S R O'
 'ROYSE RALPH L']

Total.Fatal.Injuries:
0.0      59675
1.0       8883
2.0       5173
3.0       1589
4.0       1103
         ...
31.0         1
169.0        1
150.0        1
117.0        1
156.0        1
Name: Total.Fatal.Injuries, Length: 125, dtype: int64

# Handling Inconsistent Data in formatting.

In order to prevent formatting inconsistencies, the 'Location' column is standerdized in this stage by changing all of the entries to lowercase. This is significant because it guarantees precise location-based accident pattern analysis. The business challenge of how location affects safety evaluations for our aircraft choices is addressed when we have uniform data, which allows us to efficiently identify places with greater accident rates. We can make wise judgements to strengthen safety procedures and improve the wellbeing of passengers and crew by being aware of these trends.

In [ ]:
df['Location'] = df['Location'].str.lower()

print("First few rows after standardizing text column:")
print(df[['Location']])

First few rows after standardizing text column:
              Location
0      moose creek, id
1       bridgeport, ca
2        saltville, va
3           eureka, ca
4           canton, oh
...                ...
88884    annapolis, md
88885      hampton, nh
88886       payson, az
88887       morgan, ut
88888       athens, ga

[88889 rows x 1 columns]